# --- SEGURANÇA & CONFIGS LOCAIS ---
.env
*.key
*_test.py
*_debug.py
.vscode/

# --- PYTHON ---
__pycache__/
*.py[cod]
.venv/
venv/

# --- DADOS & BIG DATA ---
01_base_dados/
09_lakehouse/
spark-warehouse/
metastore_db/
derby.log

# --- DBT & DUCKDB ---
target/
dbt_packages/
logs/
*.duckdb
*.duckdb.wal

# --- PREFECT ---
.prefect/

# --- OS ---
.DS_Store
Thumbs.db